.PU {
font-weight: bold;
color: #a562ff;
}

.LOF {
font-weight: bold;
color: #b0d623;
}

.SLS {
font-weight: bold;
color: #feaad4;
}

.TWR {
font-weight: bold;
color: #ff555a;
}

.NCTG {
font-weight: bold;
color: #e6bf61;
}

.SGIS {
font-weight: bold;
color: #a562ff;
}

.FB {
font-weight: bold;
color: #a562ff;
}
