.smooth-move {
animation: fadeIn 2.6s;
}

@keyframes fadeIn {
  0% { opacity: 0; 
}
  100% { opacity: 1; 
}
}

.log-box {
background: #19181e;
color: #cdcccd;
max-height: 600px;
padding-left: 8% !important;
padding-right: 8% !important;
margin-top: 15px;
margin-bottom: 15px;
border-radius: 16px;
overflow: auto;
}

.nav-box {
max-height: 110px;
padding-left: 1.5rem;
padding-right: 1.5rem;
margin-top: 1rem;
margin-bottom: 2rem;
overflow: auto;
}

h1 {
color:#ffffff !important;
font-family: "Assistant", sans-serif !important;
font-size: 225% !important;
text-align: center;
font-weight: 500;
letter-spacing: .75px;
text-shadow: 0px 0px 4px rgba(255,255,255,0.4);
}

.lbox2 {
    background: #19181e !important;
    padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
      color: #cdcccd;
      margin-top: 15px;
margin-bottom: 15px;
border-radius: 16px;
max-height: 600px;
overflow: auto;      
    }

  .test {
        padding: 2%;
    color: #cdcccd;
max-height: 400px;
overflow: auto;      
    }  
    }